* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

}

.main-background {
    background-image: url(../assets/fondy_baby_quaker_main.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-inicio {
    display: flex;
    justify-content: center;
    margin-bottom: 25%;
}

.logo-inicio img {
    width: 100%;
    max-width: 500px;
    filter: drop-shadow(0 0 2rem rgb(224, 224, 224));
}

.btn-inicio {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    min-height: 150px;
    padding: 20px;
}

.btn-inicio img {
    width: 90%;
    height: 90%;
    max-width: 300px;
    filter: drop-shadow(0 0 2rem crimson);
}

.btn-inicio img:hover{
    scale: 1.1;
    transition: 0.5s ease-out;
}

@media screen and (min-width: 1081px){

    .main-background {
        width: 720px;
        height: 1270px;
    }
}