* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.main-background {
    background-image: url(../assets/fondy_baby_quaker_main.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-inicio {
    display: flex;
    justify-content: center;
    margin-bottom: 25%;
}

.logo-inicio img {
    width: 100%;
    max-width: 50vw;
    /* Adjusted to be relative to the viewport width */
    filter: drop-shadow(0 0 2rem rgb(224, 224, 224));
}

.btn-inicio {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    /* Adjusted to be relative to the viewport height */
    min-height: 15vh;
    /* Adjusted to be relative to the viewport height */
    padding: 2vh;
    /* Adjusted to be relative to the viewport height */
}

.btn-inicio img {
    width: 90%;
    height: 90%;
    max-width: 30vw;
    /* Adjusted to be relative to the viewport width */
    filter: drop-shadow(0 0 2rem crimson);
}

.btn-inicio img:hover {
    scale: 1.1;
    transition: 0.5s ease-out;
}
