@font-face {
    font-family: 'VAG Rounded Bold';
    src: url('../fonts/VAG_Rounded_Bold.ttf') format('truetype');
}

:root {
    --main-pink: #F0047F;
    --secondary-pink: #F251A2;
    --main-gold: #F8D772;
    --main-green: #5AB557;
    --secondary-green: #95D38E;
    --main-dark: #001D2C;
    --secondary-dark: #657886;
    --main-blue: #01A0C6;
    --secondary-blue: #4DBDD7;
    --borders: #A36340;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VAG Rounded Bold', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.main-trivia-background {
    background-image: url(../assets/fondo_baby_quaker_juego.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-trivia {
    position: absolute;
    top: 0;
    margin-top: 50px;
}

.logo-trivia img {
    width: 100%;
    max-width: 450px;
}

.trivia-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}

.trivia-question {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue);
    padding: 20px;
    border-radius: 90px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    width: 90%;
    min-height: 180px;
}

.trivia-question p {
    border: 10px solid var(--secondary-blue);
    color: #fff;
    border-style: dashed;
    border-radius: 80px;
    padding: 50px;
    font-size: 3rem;
    width: 100%;
}

.trivia-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.trivia-option {
    position: relative;
    width: 75%;
    height: 95px;
    background-color: #fff;
    margin-bottom: 45px;
    border-radius: 20px;
}

.trivia-option p {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 20px;
    font-size: 2.5rem;
    margin-left: 45px;
}

.blue-option {
    background-color: var(--secondary-blue);
    color: #fff;
}

.pink-option {
    background-color: var(--secondary-pink);
    color: #fff;
}

.green-option {
    background-color: var(--secondary-green);
    color: #fff;
}

.dark-option {
    background-color: var(--secondary-dark);
    color: #fff;
}

.trivia-option::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 40px;
    font-size: 4.5rem;
}

.blue-option::before {
    content: "A";
    background-color: var(--main-blue);
    color: #fff;
}

.pink-option::before {
    content: "B";
    background-color: var(--main-pink);
    color: #fff;
}

.green-option::before {
    content: "C";
    background-color: var(--main-green);
    color: #fff;
}

.dark-option::before {
    content: "D";
    background-color: var(--main-dark);
    color: #fff;
}

.correct-option::before {
    background-color: green;
}

.incorrect-option::before {
    background-color: red;
}





/* .trivia-option:hover {
    transition: 0.5s ease-out;
    background-color: var(--main-pink);
    cursor: pointer;
} */



@media screen and (min-width: 1081px) {

    .main-trivia-background {
        width: 720px;
        height: 1270px;
    }
}