@font-face {
    font-family: 'VAG Rounded Bold';
    src: url('../assets/fonts/VAG_Rounded_Bold.ttf') format('truetype');
}

:root {
    --main-pink: #F0047F;
    --secondary-pink: #F251A2;
    --main-gold: #F8D772;
    --main-green: #5AB557;
    --secondary-green: #95D38E;
    --main-dark: #001D2C;
    --secondary-dark: #657886;
    --main-blue: #01A0C6;
    --secondary-blue: #4DBDD7;
    --borders: #A36340;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VAG Rounded Bold', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.main-trivia-background {
    background-image: url(../assets/fondo_baby_quaker_juego.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-trivia {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    margin-top: 15px;
    flex-direction: column;
}

.logo-primero, .logo-segundo {
    width: 100%;
    max-width: 350px;
}

.logo-primero {
    margin-bottom: 20px;
}

@keyframes animationleftright {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(0deg); }
    40% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.logo-segundo {
    transform-origin: center;
    animation: animationleftright 3s ease-in-out infinite;
}

.trivia-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}

.trivia-question {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue);
    padding: 20px;
    border-radius: 90px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    width: 90%;
    min-height: 180px;
}

.trivia-question p {
    border: 10px solid var(--secondary-blue);
    color: #fff;
    border-style: dashed;
    border-radius: 80px;
    padding: 50px;
    font-size: 3rem;
    width: 100%;
}

.trivia-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.trivia-option {
    position: relative;
    width: 75%;
    height: 95px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 20px;
}

.trivia-option p {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 20px;
    font-size: 2.5rem;
    margin-left: 45px;
}

.trivia-next {
    position: relative;
    width: 33%;
    height: 95px;
    background-color: var(--secondary-green);
    margin-top: 10px;
    border-radius: 20px;
    color: #fff;
    transition: all 0.5s ease-out;
}

.trivia-next:hover {
    background-color: var(--main-blue);
    cursor: pointer;
}

.trivia-next p {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 2.5rem;
}



.blue-option {
    background-color: var(--secondary-blue);
    color: #fff;
}

.pink-option {
    background-color: var(--secondary-pink);
    color: #fff;
}

.green-option {
    background-color: var(--secondary-green);
    color: #fff;
}

.dark-option {
    background-color: var(--secondary-dark);
    color: #fff;
}

.trivia-option::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 40px;
    font-size: 4.5rem;
}

.blue-option::before {
    content: "A";
    background-color: var(--main-blue);
    color: #fff;
}

.pink-option::before {
    content: "B";
    background-color: var(--main-pink);
    color: #fff;
}

.green-option::before {
    content: "C";
    background-color: var(--main-green);
    color: #fff;
}

.dark-option::before {
    content: "D";
    background-color: var(--main-dark);
    color: #fff;
}

.correct-option::before {
    background-color: green;
}

.incorrect-option::before {
    background-color: red;
}





/* .trivia-option:hover {
    transition: 0.5s ease-out;
    background-color: var(--main-pink);
    cursor: pointer;
} */



@media screen and (max-width: 768px) {
    
    .logo-primero, .logo-segundo {
        width: 100%;
        max-width: 80px;
    }

    .trivia-question {
        min-height: 100px;
    }

    .trivia-question p {
        border: 5px solid var(--secondary-blue);
        border-style: dashed;
        padding: 20px;
        font-size: 1.1rem;

    }

    .trivia-option {
        height: 50px;
    }

    .trivia-option p {
        font-size: 1rem;
        padding: 0;
    }

    .trivia-option::before {
        left: -15px;
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }

    .trivia-next {
        height: 50px;
    }

    .trivia-next p {
        font-size: 1rem;
        padding: 0;
    }

    .trivia-next::before {
        left: -15px;
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }

}